{% extends 'trabajaYa/layout.html' %}

{% block content %}
{% load static %}
		
		<!-- Carousel -->
		<div id="carouselExampleDark" class="carousel carousel-white slide" data-bs-ride="carousel">
			  <div class="carousel-indicators">
			    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
			    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
			  </div>
			  <div class="carousel-inner">
			    <div class="carousel-item active" data-bs-interval="10000">
			      <img src="{% static 'images/s1.png' %}" class="d-block w-100" alt="..." height="600px">
			      <div class="carousel-caption d-none d-md-block">
			        <h5>NO TIENES EXCUSAS</h5>
			        <p>Recuerda que puedes venderle tus conocimientos a los demas.</p>
			      </div>
			    </div>
			    <div class="carousel-item" data-bs-interval="2000">
			      <img src="{% static 'images/s1.png' %}" class="d-block w-100" alt="..." height="600">
			      <div class="carousel-caption d-none d-md-block">
			        <h5>HAZ LO QUE MEJOR SABES HACER</h5>
			        <p>Todos hemos desarrollado alguna habilidad que otros no tienen.</p>
			      </div>
			    </div>
			    <div class="carousel-item">
			      <img src="{% static 'images/s1.png' %}" class="d-block w-100" alt="..." height="600">
			      <div class="carousel-caption d-none d-md-block">
			        <h5>SOLUCIONA LOS PROBLEMAS DE LOS DEMAS</h5>
			        <p>En algun lugar hay alguien que pagara por arreglar su caneria.</p>
			      </div>
			    </div>
			  </div>
			  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
			    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			    <span class="visually-hidden">Previous</span>
			  </button>
			  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
			    <span class="carousel-control-next-icon" aria-hidden="true"></span>
			    <span class="visually-hidden">Next</span>
			  </button>
		</div>
		<!-- EndCarousel -->

		<!-- carta del mensaje citado -->
		<div id="ribbon" class="container-fluid ">

			<div id="birthday" class="container w-50 px-5 rounded-lg ">

				<div class="row align-items-center" >
					<div class="col-sm p-3">
						<img src="{% static 'images/LOGOFAPCOD.png' %}" class="w-75 mx-auto d-block" alt="">
					</div>
					<div class="col-sm p-3 text-light text-center">
						<p class="text-shadow h5">“El valor del dinero es que con él podemos mandar a cualquiera al diablo. Es el sexto sentido que te permite disfrutar de los otros cinco.”
						― William Somerset Maugham </p>
						<!-- <h4 class="h2 text-shadow"></h4> -->
					</div>
				</div>
				
			</div>
			
		</div>
		<!-- End carta del mensaje citado -->

		<!-- Separador -->
		<div id="separator-ribbon">
			<div class="content"></div>	<!--bg-primary-->
		</div>
		<!-- endSeparador -->

		<!-- Nuevas habilidades creadas -->

		<div id="games">

			<div class="conteiner-md p-5">
				<div class="row pt-5">
					<h3 class="text-center pb-5 pt-5 h1">Nuevas habilidades registradas</h3>
				</div>

				<div class="row">

					<div class="col-sm">
						<div class="card w-100 card-border mb-5">
						  <img src="{% static 'images/11.jpg' %}" class="card-img-top" alt="...">
						  <div class="card-body">
						  	<h5 class="card-title">Card title</h5>
						    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						  </div>
						</div>
					</div>

					<div class="col-sm">
						<div class="card w-100 card-border mb-5">
						  <img src="{% static 'images/11.jpg' %}" class="card-img-top" alt="...">
						  <div class="card-body">
						  	<h5 class="card-title">Card title</h5>
						    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						  </div>
						</div>
					</div>

					<div class="col-sm">
						<div class="card w-100 card-border mb-5">
						  <img src="{% static 'images/11.jpg' %}" class="card-img-top" alt="...">
						  <div class="card-body">
						  	<h5 class="card-title">Card title</h5>
						    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						  </div>
						</div>
					</div>

					<div class="col-sm">
						<div class="card w-100 card-border mb-5">
						  <img src="{% static 'images/11.jpg' %}" class="card-img-top" alt="...">
						  <div class="card-body">
						  	<h5 class="card-title">Card title</h5>
						    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						  </div>
						</div>
					</div>

					<div class="col-sm">
						<div class="card w-100 card-border mb-5">
						  <img src="{% static 'images/11.jpg' %}" class="card-img-top" alt="...">
						  <div class="card-body">
						  	<h5 class="card-title">Card title</h5>
						    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						  </div>
						</div>
					</div>




					<div class="row py-5">
			            <div class="col">
			              <h3 class="text-center" style="color: var(--bs-blue)">Puedes Buscar:</h3>
			            </div>
			        </div>
			        <div class="row justify-content-center">
			            <div class="col-1"><a href="#">Programador</a></div>
			            <div class="col-1"><a href="#">Disenador</a></div>
			            <div class="col-1"><a href="#">Limpiador</a></div>
			            <div class="col-1"><a href="#">Gafitero</a></div>
			            <div class="col-1"><a href="#">Cuidador</a></div>
			            <div class="col-1"><a href="#">Programador</a></div>
			            <div class="col-1"><a href="#">Disenador</a></div>
			            <div class="col-1"><a href="#">Limpiador</a></div>
			            <div class="col-1"><a href="#">Gafitero</a></div>
			            <div class="col-1"><a href="#">Cuidador</a></div>
			        </div>

					
				</div>
			</div>
			
		</div>


		<!-- end Nuevas habilidades creadas -->

		<!-- separador2 -->
		<!-- <div id="separator-amiibos">
     		 <div class="content bg-success"></div>
    	</div> -->
    	<!-- end separador2 -->

    	<!-- Trabajos recien publicados-->
    
	    <div id="amiibos" class="px-5 pb-5 bg-success">
	        <div class="container">
	            <div class="row">
	                <h2 class="text-center text-white text-shadow h1">TRABAJOS RECIEN PUBLICADOS</h2>
	            </div>

	            <div class="row row-cols-1 row-cols-2 row-cols-sm-2 row-cols-md-4">
	                
	                <div class="col-sm">
	                  <img src="{% static 'images/22.jpg' %}" alt="" class="w-100 amiibo">
	                  <div class="text-center"><span class="amiibo-name h5 p-2">Isabelle</span></div>
	                </div>

	                <div class="col-sm">
	                  <img src="{% static 'images/22.jpg' %}" alt="" class="w-100 amiibo">
	                  <div class="text-center"><span class="amiibo-name h5 p-2">Kapp'n</span></div>
	                </div>

	                <div class="col-sm">
	                  <img src="{% static 'images/22.jpg' %}" alt="" class="w-100 amiibo">
	                  <div class="text-center"><span class="amiibo-name h5 p-2">Rover</span></div>
	                </div>

	                <div class="col-sm">
	                  <img src="{% static 'images/22.jpg' %}" alt="" class="w-100 amiibo">
	                  <div class="text-center"><span class="amiibo-name h5 p-2">Timmy & Tommy</span></div>
	                </div>

	                <div class="col-sm">
	                  <img src="{% static 'images/22.jpg' %}" alt="" class="w-100 amiibo">
	                  <div class="text-center"><span class="amiibo-name h5 p-2">Timmy & Tommy</span></div>
	                </div>

	                <div class="col-sm">
	                  <img src="{% static 'images/22.jpg' %}" alt="" class="w-100 amiibo">
	                  <div class="text-center"><span class="amiibo-name h5 p-2">Kapp'n</span></div>
	                </div>

	                <div class="col-sm">
	                  <img src="{% static 'images/22.jpg' %}" alt="" class="w-100 amiibo">
	                  <div class="text-center"><span class="amiibo-name h5 p-2">Rover</span></div>
	                </div>

	                <div class="col-sm">
	                  <img src="{% static 'images/22.jpg' %}" alt="" class="w-100 amiibo">
	                  <div class="text-center"><span class="amiibo-name h5 p-2">Timmy & Tommy</span></div>
	                </div>

	                <div class="col-sm">
	                  <img src="{% static 'images/22.jpg' %}" alt="" class="w-100 amiibo">
	                  <div class="text-center"><span class="amiibo-name h5 p-2">Timmy & Tommy</span></div>
	                </div>


	                <div class="col-sm">
	                  <img src="{% static 'images/22.jpg' %}" alt="" class="w-100 amiibo">
	                  <div class="text-center"><span class="amiibo-name h5 p-2">Isabelle</span></div>
	                </div>

	                <div class="col-sm">
	                  <img src="{% static 'images/22.jpg' %}" alt="" class="w-100 amiibo">
	                  <div class="text-center"><span class="amiibo-name h5 p-2">Kapp'n</span></div>
	                </div>

	                <div class="col-sm">
	                  <img src="{% static 'images/22.jpg' %}" alt="" class="w-100 amiibo">
	                  <div class="text-center"><span class="amiibo-name h5 p-2">Rover</span></div>
	                </div>

	                <div class="col-sm">
	                  <img src="{% static 'images/22.jpg' %}" alt="" class="w-100 amiibo">
	                  <div class="text-center"><span class="amiibo-name h5 p-2">Timmy & Tommy</span></div>
	                </div>

	                <div class="col-sm">
	                  <img src="{% static 'images/22.jpg' %}" alt="" class="w-100 amiibo">
	                  <div class="text-center"><span class="amiibo-name h5 p-2">Timmy & Tommy</span></div>
	                </div>

	                <div class="col-sm">
	                  <img src="{% static 'images/22.jpg' %}" alt="" class="w-100 amiibo">
	                  <div class="text-center"><span class="amiibo-name h5 p-2">Kapp'n</span></div>
	                </div>

	                <div class="col-sm">
	                  <img src="{% static 'images/22.jpg' %}" alt="" class="w-100 amiibo">
	                  <div class="text-center"><span class="amiibo-name h5 p-2">Rover</span></div>
	                </div>

	                <div class="col-sm">
	                  <img src="{% static 'images/22.jpg' %}" alt="" class="w-100 amiibo">
	                  <div class="text-center"><span class="amiibo-name h5 p-2">Timmy & Tommy</span></div>
	                </div>

	                <div class="col-sm">
	                  <img src="{% static 'images/22.jpg' %}" alt="" class="w-100 amiibo">
	                  <div class="text-center"><span class="amiibo-name h5 p-2">Timmy & Tommy</span></div>
	                </div>

	                <div class="col-sm">
	                  <img src="{% static 'images/22.jpg' %}" alt="" class="w-100 amiibo">
	                  <div class="text-center"><span class="amiibo-name h5 p-2">Timmy & Tommy</span></div>
	                </div>

	                <div class="col-sm">
	                  <img src="{% static 'images/22.jpg' %}" alt="" class="w-100 amiibo">
	                  <div class="text-center"><span class="amiibo-name h5 p-2">Timmy & Tommy</span></div>
	                </div>


	            </div>

	            <div class="row py-5">
	              <div class="col text-center">
	                <a href="#" class="link-dark">
	                  <button class="btn btn-dark btn-lg rounded-pill p-3 font-weight-bold">MOSTRAR MAS TRABAJOS</button>
	                </a>
	              </div>   
	            </div>

		        </div>
		        	<div id="separator-amiibos-footer">
		        </div>
	    </div>
	    <!-- endTrabajos recien publicados -->
		

		<!-- Nuestro Equipo -->

		<div id="play" >
		    <div class="container-sm p-5 ">
		      	<h3 class="text-center h1">Nuestro Equipo</h3>
		        <div class="row justify-content-center align-items-center  ">
			        <!-- <div class="col-3 d-none d-md-block">
			          <img src="{% static 'images/LOGOFAPCOD.png' %}" class="w-100">
			        </div> -->
			        <div class="col-9">
			            <div class="row justify-content-md-center ">

				            <div class="col p-1 ">
				              <div class="card card1   text-white  ">   
				                <div class="row ">
				                  <div class="col-md-6">
				                    <img src="{% static 'images/33.jpg' %}" class="w-100"  alt="...">
				                  </div>
				                  <div class="col-md-6">
				                    <div class="card-body">
				                      <h5 class="card-title">TU NOMBRE</h5>
				                      <p class="card-text">Encargado de ....</p>
				                    </div><!--card-body-->
				                  </div><!--col-->
				                </div><!--row-->
				              </div><!--CARD-->
				            </div><!--col-->
			           
				            <div class="col p-1">
				              <div class="card card1  text-white">   
				                <div class="row">
				                  <div class="col-md-6">
				                    <div class="card-body">
				                      <h5 class="card-title">TU NOMBRE</h5>
				                      <p class="card-text">Encargado de ...</p>
				                    </div>
				                  </div>
				                  <div class="col-md-6">
				                    <img src="{% static 'images/33.jpg' %}" class="w-100"  alt="...">
				                  </div>
				                </div>
				              </div>
				            </div>

				             <div class="col p-1">
				              <div class="card card1  text-white">   
				                <div class="row">
				                  <div class="col-md-6">
				                    <div class="card-body">
				                      <h5 class="card-title">TU NOMBRE</h5>
				                      <p class="card-text">Encargado de ...</p>
				                    </div>
				                  </div>
				                  <div class="col-md-6">
				                    <img src="{% static 'images/33.jpg' %}" class="w-100"  alt="...">
				                  </div>
				                </div>
				              </div>
				            </div>
				        

			            </div>

			        	<div class="row  justify-content-md-center">

				          <div class="col p-1">
				            <div class="card card1 text-white">   
				                <div class="row">
				                  <div class="col-md-6">
				                    <img src="{% static 'images/33.jpg' %}" class="w-100"  alt="...">
				                  </div>
				                  <div class="col-md-6">
				                    <div class="card-body">
				                      <h5 class="card-title">TU NOMBRE</h5>
				                      <p class="card-text">Encargado de ...</p>
				                    </div><!--card-body-->
				                  </div><!--col-->
				                </div><!--row-->
				              </div><!--CARD-->
				          </div>

				          <div class="col p-1">
				            <div class="card card1 text-white">   
				                <div class="row">
				                  <div class="col-md-6">
				                    <div class="card-body">
				                      <h5 class="card-title">TU NOMBRE</h5>
				                      <p class="card-text">Encargado de ....</p>
				                    </div><!--card-body-->
				                  </div>
				                  <div class="col-md-6">
				                    <img src="{% static 'images/33.jpg' %}" class="w-100"  alt="...">
				                  </div><!--col-->
				                </div><!--row-->
				              </div><!--CARD-->
				            </div>



				            <div class="col p-1">
				            <div class="card card1 text-white">   
				                <div class="row">
				                  <div class="col-md-6">
				                    <div class="card-body">
				                      <h5 class="card-title">TU NOMBRE</h5>
				                      <p class="card-text">Encargado de ....</p>
				                    </div><!--card-body-->
				                  </div>
				                  <div class="col-md-6">
				                    <img src="{% static 'images/33.jpg' %}" class="w-100"  alt="...">
				                  </div><!--col-->
				                </div><!--row-->
				              </div><!--CARD-->
				            </div>




			          	</div>

			        </div>
		        </div>
		    </div>
		</div>


		<!-- endNUestroEquipo -->

	
{% endblock %}
